# Environment
.env
.env.local
*.local

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
services/*/server
services/*/worker
services/*/tmp/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Project
test.md

# Docker
.docker/
